<%- include('partials/header') %>
<%- include('partials/navbar_cust') %>
<link rel='stylesheet' href='stylesheets/form.css'>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    font-family: Arial;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
</style>
</head>

<body>

  <div class="container">
    <h1>Customer Restaurant Menu</h1>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Restaurants</legend>
      <div class="col-auto my-1">
        <form id="getRest" action="/cust_menu/getRest" role="form" method="post">
          <label for="order"><strong>Select Restaurant</strong></label>
          <select class="custom-select mr-sm-2" id="restName" name="restName">
            <% for(var i=0; i< restInfo.length; i++) { %>
            <option value="<%= restInfo[i].name%>"><%= restInfo[i].name%></option>
            <% } %>
          </select>
          <p></p>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </fieldset>

    <fieldset class="scheduler-border">
      <legend class="scheduler-border"><%= restDisplay%></legend>

    <div class="tab">
      <button class="tablinks" onclick="openCust(event, 'Reviews')">Reviews</button>
      <button class="tablinks" onclick="openCust(event, 'Menu')">Menu</button>
      <button class="tablinks" onclick="openCust(event, 'Promo')">Promo</button>
      <button class="tablinks" onclick="openCust(event, 'Order')">Order</button>
    </div>
    <div id="Reviews" class="tabcontent">
      <p></p>
      <h3>Average Rating : </h3>
      <p><%= avgRating%></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Review</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < reviewInfo.length; i++) { %>
          <tr>
            <td><%= reviewInfo[i].date%></td>
            <td><%= reviewInfo[i].name%></td>
            <td><%= reviewInfo[i].review%></td>
            <td><%= reviewInfo[i].star%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div id="Menu" class="tabcontent">
      <p></p>
      <label for="myInput"><strong>Input FoodName: </strong></label>
      <input type="text" id="myInput" onkeyup="myFunction()" title="Search for food" size="50">
    <p></p>
      <table class="table" id='myTable'>
        <thead>
          <tr>
            <th scope="col">Food Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Limit</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < menuInfo.length; i++) { %>
          <tr>
            <td><%= menuInfo[i].foodname%></td>
            <td><%= menuInfo[i].category%></td>
            <td><%= menuInfo[i].price%></td>
            <td><%= menuInfo[i].dailylimit%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <div id="Promo" class="tabcontent">
      <table class="table" id='currPromo'>
        <thead>
          <tr>
            <th scope="col">Promotion Code</th>
            <th scope="col">StartDate</th>
            <th scope="col">EndDate</th>
            <th scope="col">StartTime</th>
            <th scope="col">EndTime</th>
            <th scope="col">Discount Percent</th>
            <th scope="col">Discount Amount</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < promoInfo.length; i++) { %>
          <tr>
            <td><%= promoInfo[i].promoid%></td>
            <td><%= promoInfo[i].startdate%></td>
            <td><%= promoInfo[i].enddate%></td>
            <td><%= promoInfo[i].starttime%></td>
            <td><%= promoInfo[i].endtime%></td>
            <td><%= promoInfo[i].discperc%></td>
            <td><%= promoInfo[i].discamt%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>


    <div id="Order" class="tabcontent">
<p></p>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Add to cart</legend>
        <div class="col-auto my-1">
          <form id="addOrder" action="/cust_menu/addOrder" role="form" method="post">
            
            <table class="table" id='orderInfo'>
              <thead>
                <tr>
                  <th scope="col">Food Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < orderInfo.length; i++) { %>
                <tr>
                  <td><%= orderInfo[i].foodname%></td>
                  <td><%= orderInfo[i].price%></td>
                  <td><%= orderInfo[i].amount%></td>
                </tr>
                <% } %>
              </tbody>
            </table>

            <label for="orderItem">Food Name</label>
            <select class="custom-select mr-sm-2" id="orderItem" name="orderItem">
              <% for(var i=0; i< menuInfo.length; i++) { %>
              <option value="<%= menuInfo[i].foodname%>"><%= menuInfo[i].foodname%></option>
              <% } %>
            </select>
            <label for="orderAmount">Amount</label>
            <select class="custom-select mr-sm-2" id="orderAmount" name="orderAmount">
              <% for(var i=1; i< 6; i++) { %>
              <option value="<%=i%>"><%=i%></option>
              <% } %>
            </select>
            <p></p>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>

      </fieldset>
      <br />

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Checkout cart</legend>
        <h5><b>Total Price:</b> $<%= totalPrice%> + $4 (delivery fee)</h4>
        <h5><b>Current Reward Points:</b> <%= rewardPts%> points*</h4>
        <h5><b>Minimum Threshold:</b> $<%= minThreshold%></h4>

        <p></p>

        <form id="cfmOrder" action="/cust_menu/cfmOrder" role="form" method="post">
          <label for="pastAddr">Location Details</label>
          <select class="custom-select mr-sm-2" id="pastAddr" name="pastAddr">
            <option value="null">Add your own addresss</option>
            <% for(var i=0; i< addrInfo.length; i++) { %>
            <option value="<%= addrInfo[i].location%>"><%= addrInfo[i].location%></option>
            <% } %>
          </select>
          <input type="text" class="form-control" id="newAddr" name="newAddr" value="New Address">
          <select class="custom-select mr-sm-2" id="area" name="area">
            <option value="N">North</option>
            <option value="S">South</option>
            <option value="E">East</option>
            <option value="W">West</option>
          </select>

          <label for="paytype">Payment Type</label>
          <select class="custom-select mr-sm-2" id="paytype" name="paytype">
            <% for(var i=0; i< paymentInfo.length; i++) { %>
            <option value="<%= paymentInfo[i].payoption%>"><%= paymentInfo[i].payoption%></option>
            <% } %>
          </select>
          <p>* Note 1 Reward point = $0.10</p>
          <div class="from-group">
            <label for="promo">Promo Code</label>
            <input type="text" class="form-control" id="promo" name="promo" value="-">
          </div>
        </br>
          <button type="submit" class="btn btn-primary">Checkout</button>
        </form>

      </fieldset>
    </div>
  </div>

</fieldset>
</body>

</html>

<!-- JS script for the tabs -->
<script>
  function openCust(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  (function() {
      window.addEventListener('load', function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const rewardPts = urlParams.get('RewardPts');
        const minthreshold = urlParams.get('minthreshold');
        const nopromo = urlParams.get('nosuch');
        const cardfail = urlParams.get('cardfail')

        if(rewardPts != null && rewardPts.localeCompare('fail') == 0){
            alert('Insufficient reward points!');
        }
        if(minthreshold != null && minthreshold.localeCompare('fail') == 0){
            alert('Insufficient order cost!');
        }
        if(nopromo != null && nopromo.localeCompare('fail') == 0){
            alert('Invalid promo code!');
        }
        if(cardfail != null && cardfail.localeCompare('fail') == 0){
            alert('Please add card details in profile page.');
        }
      }, false);
    })();
</script>


<%- include('partials/footer') %>