<%- include('partials/header') %>
<%- include('partials/navbar_fds') %>
<link rel='stylesheet' href='stylesheets/form.css'>

<h2>Welcome, <%=name%>!</h2>
</br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          Summary Information
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Select Date</legend>
          <p>Select the month and year (e.g. May 2020) to view customer related summary information. </p>
          <form id="month_form" action="/fds_cust/selectdate" role="form" method="post">
            <div class="form-group">
              <input type="month" class="form-control" id="date" name="date">
              </br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </fieldset>
        </br>
        <div id="accordion2">
          <div class="card">
            <div class="card-header" id="subheadingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#subcollapseTwo" aria-expanded="true"
                  aria-controls="subcollapseTwo">
                  All customers
                </button>
              </h5>
            </div>
            <div id="subcollapseTwo" class="collapse show" aria-labelledby="subheadingTwo" data-parent="#accordion2">
              <div class="card-body">
                <p> Shows the total number of active customers and new customers based on the selected date.</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Month</th>
                      <th scope="col">Active Customers</th>
                      <th scope="col">New Customers</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < fdsCustInfo.length; i++) { %>
                    <tr>
                      <td><%= fdsCustInfo[i].year%></td>
                      <td><%= fdsCustInfo[i].month%></td>
                      <td><%= fdsCustInfo[i].activecus%></td>
                      <td><%= fdsCustInfo[i].newcus%></td>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </br>

          <div class="card">
            <div class="card-header" id="subheadingThree">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#subcollapseThree" aria-expanded="true"
                  aria-controls="subcollapseThree">
                  Individual Customer
                </button>
              </h5>
            </div>
            <div id="subcollapseThree" class="collapse show" aria-labelledby="subheadingThree"
              data-parent="#accordion2">
              <div class="card-body">
                <p> Shows the number of orders placed and the total cost for all these orders for each customer based on
                  the
                  selected date.</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Customer's ID</th>
                      <th scope="col">Total Spending</th>
                      <th scope="col">Number of Orders</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < totalOrderEachCust.length; i++) { %>
                    <tr>
                      <td><%= totalOrderEachCust[i].customer%></td>
                      <td><%= totalOrderEachCust[i].totalcost%></td>
                      <td><%= totalOrderEachCust[i].num%></td>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            Area Information
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Select Delivery Location</legend>
          <form id="area_form" action="/fds_cust/selectArea" role="form" method="POST">
            <div class="form-group">

              <select class="form-control" id="area" name="area">
                <option value="N">North</option>
                <option value="S">South</option>
                <option value="E">East</option>
                <option value="W">West</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </fieldset>
          <div id="accordion2">
            <div class="card">
              <div class="card-header" id="subheadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#subcollapseTwo" aria-expanded="true"
                    aria-controls="subcollapseTwo">
                    Overview
                  </button>
                </h5>
              </div>
              <div id="subcollapseTwo" class="collapse show" aria-labelledby="subheadingTwo" data-parent="#accordion2">
                <div class="card-body">
                  <p>Displays the total number of orders placed by customers based on the selected delivery location area.</p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Area</th>
                        <th scope="col">Hour</th>
                        <th scope="col">Total Number of Orders</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i=0; i< areaInfo.length; i++) { %>
                      <tr>
                        <td><%= areaInfo[i].area%></td>
                        <td><%= areaInfo[i].hour%></td>
                        <td><%= areaInfo[i].num%></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src = "javascripts/fds.js"></script>
      <script>
        (function() {
          window.addEventListener('load', function() {
            var forms = [document.getElementById('month_form')];
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', checkMonth, false);
            });
          }, false);
        })();
      </script>

    <%- include('partials/footer') %>