<%- include('partials/header') %>
<%- include('partials/navbar_fds') %>

<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
  <h1>FDS Manager Customers</h1>
  <p>Welcome, <%= name%>!</p>
  <h2>Select Date</h2>

  <form id="month_form" action="/fds_cust/selectdate" role="form" method="post">
    <div class="form-group">
      <input type="month" class="form-control" id="date" name="date">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <h3>Summary</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Active Customers</th>
        <th scope="col">New Customers</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < fdsCustInfo.length; i++) { %>
      <tr>
        <td><%= fdsCustInfo[i].year%></td>
        <td><%= fdsCustInfo[i].month%></td>
        <td><%= fdsCustInfo[i].activecus%></td>
        <td><%= fdsCustInfo[i].newcus%></td>
      <% } %>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer's ID</th>
        <th scope="col">Total Spending</th>
        <th scope="col">Number of Orders</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < totalOrderEachCust.length; i++) { %>
      <tr>
        <td><%= totalOrderEachCust[i].customer%></td>
        <td><%= totalOrderEachCust[i].totalcost%></td>
        <td><%= totalOrderEachCust[i].num%></td>
      <% } %>
    </tbody>
  </table>
 

</div>

</body>
</html>


<%- include('partials/footer') %>