<%- include('partials/header') %>
<%- include('partials/navbar_fds') %>

<!DOCTYPE html>
<html lang="en">


<body>

  <div class="container">
    <h1>FDS Manager Rider</h1>
  </div>

  <form id="month_form" action="/fds_rider/selectdate" role="form" method="post">
    <div class="form-group row">
      <input type="month" class="form-control" id="date" name="date">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <h3>Delivery Rider Summary</h3>
<table class="table">
	<thead>
		<tr>
			<th scope="col">riderID</th>
			<th scope="col">Hours Worked</th>
      <th scope="col">Total Orders</th>
      <th scope="col">Salary</th>
      <th scope="col">Average Delivery Time</th>
      <th scope="col">Number of Ratings</th>
      <th scope="col">Average Ratings</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < riderSummary.length; i++) { %>
		<tr>
			<td><%= riderSummary[i].uid%></td>
			<td><%= riderSummary[i].totalhours%></td>
			<td><%= riderSummary[i].totalorders%></td>
      <td><%= riderSummary[i].monthsalary%></td>
      <td><%= riderSummary[i].avgduration%></td>
      <td><%= riderSummary[i].totalratings%></td>
      <td><%= riderSummary[i].avgratings%></td>
		</tr>
		<% } %>
	</tbody>
</table>


</body>

</html>



<%- include('partials/footer') %>