<%- include('partials/header') %>
<%- include('partials/home_navbar') %>
<h1>Welcome to FDS Application</h1>
<h2><%= title%></h2>
<p> Developers: Group 31 from CS2102 <p>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Uid</th>
			<th scope="col">Name</th>
			<th scope="col">Username</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i< usersInfo.length; i++) { %>
		<tr>
			<td><%= usersInfo[i].uid%></td>
			<td><%= usersInfo[i].name%></td>
			<td><%= usersInfo[i].username%></td>
		</tr>
		<% } %>
	</tbody>
</table>
<%- include('partials/footer') %>