<%- include('partials/header') %>
<%- include('partials/navbar_rest') %>

<h2>Profile Summary</h2>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Username</th>
			<th scope="col">Restaurant</th>
            <th scope="col">Location</th>
            <th scope="col">Min. Threshold</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= name%></td>
			<td><%= username%></td>
			<td><%= restInfo[0].name%></td>
			<td><%= restInfo[0].location%></td>
			<td><%= restInfo[0].minthreshold%></td>
		</tr>
	</tbody>
</table>

<%- include('partials/footer') %>