<%- include('partials/header') %>
<%- include('partials/navbar_rest') %>
<h1>Current Orders</h1>
<p>Refresh the page to get latest orders!</p>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Order ID</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i< restOrders.length; i++) { %>
		<tr>
			<td><%= restOrders[i].orderid%></td>
            <td><%= restOrders[i].date%></td>
            <td><%= restOrders[i].timeorderplace%></td>
            <td><%= restOrders[i].foodname%></td>
            <td><%= restOrders[i].quantity%></td>
		</tr>
		<% } %>
	</tbody>
</table>
<%- include('partials/footer') %>