<%- include('partials/header') %>
<%- include('partials/navbar_rest') %>
<h2>View Promotions </h2>
<p> 
    This page shows information about promotions that your restaurant has.
    It also shows the duration  of the campaign, total number of orders using the promotion 
    and average number of orders per day and per hour. The start and end time are in 24 hour clock format.
    Duration is represented in this format 'DAYS HOURS:MINUTES:SECONDS'.
    For average, it is rounded up to two decimal place. If the average can't be calculated, there will be just a blank value.
</p>

<h3>Percentage Discount</h3>
<p> Promotions with percentage discount </p>
<table class="table">
	<thead>
		<tr>
			      <th scope="col">ID</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Percentage Discount</th>
            <th scope="col">Total Orders</th>
            <th scope="col">Duration</th>
            <th scope="col">Orders/Day</th>
            <th scope="col">Orders/Hour</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i< percInfo.length; i++) { %>
		<tr>
			      <td><%= percInfo[i].promoid%></td>
            <td><%= percInfo[i].startdt%></td>
            <td><%= percInfo[i].enddt%></td>
            <td><%= percInfo[i].discperc%></td>
            <td><%= percInfo[i].totalorders%></td>
            <td><%= percInfo[i].duration%></td>
            <td><%= percInfo[i].dayavg%></td>
            <td><%= percInfo[i].houravg%></td>
		</tr>
		<% } %>
	</tbody>
</table>


<h3>Fixed Amount Discount</h3>
<p> Promotions with a fix amount to offset order cost </p>
<table class="table">
	<thead>
		<tr>
			      <th scope="col">ID</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Fixed Amount Discount</th>
            <th scope="col">Total Orders</th>
            <th scope="col">Duration</th>
            <th scope="col">Orders/Day</th>
            <th scope="col">Orders/Hour</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i< fixedInfo.length; i++) { %>
		<tr>
			      <td><%= fixedInfo[i].promoid%></td>
            <td><%= fixedInfo[i].startdt%></td>
            <td><%= fixedInfo[i].enddt%></td>
            <td><%= fixedInfo[i].discamt%></td>
            <td><%= fixedInfo[i].totalorders%></td>
            <td><%= fixedInfo[i].duration%></td>
            <td><%= fixedInfo[i].dayavg%></td>
            <td><%= fixedInfo[i].houravg%></td>
		</tr>
		<% } %>
	</tbody>
</table>

<h2>Add Promotion</h2>
<form id="promo_form" action="/rest_promo/insertpromo" role="form" method="post">
	<div class="form-group">
		<label for="start">Start Date and Time</label>
		<input type="datetime-local" class="form-control" id="startdt" name="startdt" >
  </div>
  <div class="form-group">
		<label for="end">End Date and Time</label>
		<input type="datetime-local" class="form-control" id="enddt" name="enddt" >
  </div>
	<div class="form-group">
		<label for="type">Choose Discount Type</label>
      <select id="type" name="type" class="form-control">
          <option value="percentage">Percentage</option>
          <option value="fixed">Fixed Amount</option>
      </select>
  </div>
  <div class="form-group">
		<label for="discount">Enter Discount</label>
    <input type="text" class="form-control" id="discount" name="discount" aria-describedby="promoHelp">
    <small id="promoHelp" class="form-text text-muted"> Percentage should be in whole number and not more than 100. 
    Fixed Amount should be up to two decimal points.</small>
	</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  
 
</form>

<script src="javascripts/rest.js"> </script>
<script>
    (function() {
      window.addEventListener('load', function() {
        var forms = [document.getElementById('promo_form')];
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', checkPromo, false);
        });
      }, false);
    })();
</script>
<%- include('partials/footer') %>