<%- include('partials/header') %>
<%- include('partials/navbar_rest') %>
<h2>Restaurant Menu</h2>

<p> You can manage your menu here. Once the daily limit reaches 0 for a food, customers will not be able 
	to make orders for that food. 

<h3>Menu Details</h3>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Food</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Daily Limit</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i< menuInfo.length; i++) { %>
		<tr>
			<td><%= menuInfo[i].foodname%></td>
            <td><%= menuInfo[i].price%></td>
            <td><%= menuInfo[i].category%></td>
            <td><%= menuInfo[i].dailylimit%></td>
		</tr>
		<% } %>
	</tbody>
</table>

<h2>Add Food</h2>
<form id="food_form" action="/rest_menu/insertfood" role="form" method="post">
	<div class="form-group">
		<label for="name">Food Name:</label>
		<input type="text" class="form-control" id="foodname" name="foodname">
	</div>
	<div class="form-group">
		<label for="username">Price: </label>
		<input type="text" class="form-control" id="price" name="price" aria-describedby="priceHelp">
		<small id="priceHelp" class="form-text text-muted"> Price should be up to two decimal points and more than 0.
		</small>
	</div>
	<div class="form-group">
		<label for="username">Category: </label>
		<select id="category" name="category" class="form-control">
			<% for(var i = 0; i < categories.length; i++) { %>
				<option value='<%= categories[i].category%>'><%= categories[i].category%></option>
			  <% } %>
		</select>
	</div>
	<div class="form-group">
		<label for="limit">Daily Limit: </label>
		<input type="number" min="0" class="form-control" id="limit" name="limit">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src = "javascripts/rest.js"></script>
<script>
	(function() {
		window.addEventListener('load', function() {
			var forms = [document.getElementById('food_form')];
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', checkFood, false);
			});
		}, false);
	})();
</script>

<h2>Update Food</h2>

<h2>Delete Food</h2>

<h2>See Food Archives</h2>

<%- include('partials/footer') %>