<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/header') %>
	</head>
	<body style="height:1500px">
		<%- include('partials/navbar') %>
		
		<div class="container-fluid" style="margin-top:80px">
			<h1>CS2102: <%= title%></h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Uid</th>
						<th scope="col">Name</th>
						<th scope="col">Username</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i< usersInfo.length; i++) { %>
					<tr>
						<td><%= usersInfo[i].uid%></td>
						<td><%= usersInfo[i].name%></td>
						<td><%= usersInfo[i].username%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</body>
</html>
